<h1>Welcome to Rock Paper Scissors!</h1>
<form action="/RPS/created" method="post">
  <div class = "form-group">
    <label for="name">Player 1</label>
    <p><input type="radio" name="player1" id="player1" value="rock" checked>Rock</p>
    <p><input type="radio" name="player1" id="player1" value="paper">Paper</p>
    <p><input type="radio" name="player1" id="player1" value="scissors">Scissors</p>
  </div>
  <div class = "form-group">
    <label for="name">Player 2</label>
    <p><input type="radio" name="player2" id="player2" value="rock" checked>Rock</p>
    <p><input type="radio" name="player2" id="player2" value="paper">Paper</p>
    <p><input type="radio" name="player2" id="player2" value="scissors">Scissors</p>
  </div>
  <button type="submit"  class="btn btn-default center-block" >Submit</button>
</form>

<p>
  @Model
</p>
